democritus-csv @ git+https://github.com/democritus-project/democritus-csv.git#egg=democritus-csv
democritus-networking @ git+https://github.com/democritus-project/democritus-networking.git#egg=democritus-networking
ioc-finder